<span class="badge teal darken-4 white-text">
  <%= cli.createdAt.toDateString()%>
</span>
<h4 class="<%= cli.exitCode ? 'red' : 'pistachio'%>-text">
  <%= cli.cmd %>
</h4>
<pre>
<%= cli.logs %>
</pre>