<span class="badge teal darken-4 white-text">
  <%= cli.createdAt.toDateString()%>
</span>
<pre class="<%= cli.exitCode ? 'red' : 'pistachio'%>-text">
$ <%= cli.cmd %>
</pre>
<pre>
<%= cli.logs %>
</pre>