<span class="badge teal darken-4 white-text">
  <%= cli.createdAt.toDateString()%>
</span>
<div style="padding: 0 8px;">
<pre class="<%= cli.exitCode ? 'red' : 'pistachio'%>-text">
$ <%= cli.cmd %>
</pre>
<pre class="black white-text">
<%- cli.logs %>
</pre>
</div>