<!-- Please add your bot Plicy here -->
<h2 class="header2 center">
  Get NotifyMe CLI
</h2>
<div class="container">
  <div class="row">
    <div class="col s12">
      <h4 class="header2">
        Binairies
      </h4>
      <div class="collection">
        <a href="https://s3.amazonaws.com/clinotify.me/notifyme_linux64" class="collection-item">
          <div class="chip">
            <img src="/images/linux.png" alt="linux icon">
            <i class="small material-icons right">file_download</i>64 Bits
          </div>
          <span class="new badge" data-badge-caption="bc9947f4e4085a03c2a29ceb2617da78cc174369">SHA1: </span>
          <i class="material-icons right">fingerprint</i>
        </a>

        <a href="https://s3.amazonaws.com/clinotify.me/notifyme_linux32" class="collection-item">
          <div class="chip">
            <img src="/images/linux.png" alt="linux icon">
            <i class="small material-icons right">file_download</i>32 Bits
          </div>
          <span class="new badge" data-badge-caption="096345261c13ab67613f428052507d546d38074a">SHA1: </span>
          <i class="material-icons right">fingerprint</i>
        </a>

        <a href="https://s3.amazonaws.com/clinotify.me/notifyme_darwin64" class="collection-item">
          <div class="chip">
            <img src="/images/mac.png" alt="linux icon">
            <i class="small material-icons right">file_download</i>64 Bits
          </div>
          <span class="new badge" data-badge-caption="a4e8724a3c6c8131060b414e58278b063d4377d8">SHA1: </span>
          <i class="material-icons right">fingerprint</i>
        </a>

        <a href="https://s3.amazonaws.com/clinotify.me/notifyme_darwin32" class="collection-item">
          <div class="chip">
            <img src="/images/mac.png" alt="linux icon">
            <i class="small material-icons right">file_download</i>32 Bits
          </div>
          <span class="new badge" data-badge-caption="ff2e6a4d4516e36003ef38f8a7cbea772e0f4771">SHA1: </span>
          <i class="material-icons right">fingerprint</i>
        </a>
      </div>
    </div>
    <div class="col s12">
      <h4 class="header2">
        Source
      </h4>
      <p>
        You can get the source code from our
        <span class="chip">
          <img src="/images/github.png" alt="linux icon">
          <a href="https://github.com/Think-iT-Labs/notifyme">Github Rpository</a>
        </span>
      </p>
    </div>
  </div>
</div>