<!-- Please add your bot Plicy here -->
<div class="container">
    <div class="row">
        <div class="col s12 l12 justify-align">
            <h4 class="header2">
                Privacy Policy for NotifyMe
            </h4>
            <h5>Log Files</h5>
            <p>
                https://notifyme.think-it.io/ follows a standard procedure of using log files. These files log visitors when they visit websites. All hosting companies do this and a part of hosting services’ analytics. The information collected by log files include internet protocol (IP) addresses, browser type, date and time stamp, referring/exit pages. These are not linked to any information that is personally identifiable. The purpose of the information is for analyzing trends, administering the site.
            </p>
            <h5>Linked Account</h5>
            <p>
                The Facebook account used will be linked to the application account, using the data that facebook provides through it's Graph API, after you give permission to the app to do so.
            </p>
            <h5>Messages</h5>
            <p>
                No messages are bieng saved within the application, neither the website.
            </p>
        </div>
    </div>
</div>
