<!-- Please add your bot Terms of use here -->
<div class="container">
    <div class="row">
        <div class="col s12 l12 justify-align">
            <h4 class="header2">
                NotifyMe Terms of Use
            </h4>
            <p>
                These Terms of Use described the legally binding terms and conditions that oversee your use of the Site and the chatBot. by sending a message to the chatBot NotifyMe, YOU ARE BEING COMPLIANT THAT THESE TERMS and you represent that you have the authority and capacity to enter into these Terms.
            </p>
            <h5>1. Accounts</h5>
            <p>
                For you to use the ChatBot, you have to own a facebook account.
            </p>
            <h5>2. Messages</h5>
            <p>
                Message sent by the chatBot does not contain any strong or inapropriate language.
            </p>
        </div>
    </div>
</div>
